@import 'variables';

.item-container {
  text-align: center;
  border-bottom: 1px solid $border-color;
  padding: 1rem;
  div:first-child {
    vertical-align:top;
  }
  &:hover {
    background-color: $border-color;
  }
  .name {
    font-weight: 600;
  }
  .work-position {
    display: inline-block;
    padding: 3px;
    background-color: $primary-color;
    color: white;
    border-radius: 3px;
    font-size: 90%;
    margin-left: 1rem;
    margin-top: .5rem;
  }
}

@media screen and (max-width: 500px) {
  .item-container {
    .title-container {
      width: 65%;
    }
    .button-container {
      width: 35%;
    }
  }
}
