<div class="item-container row">
  <div class="col col-7 text-align-left">
    <span class="name">{{ employee.name }} {{ employee.surname }}</span>
    <span class="age">, {{ employee.birthDate | age }}</span>
    <span class="work-position">{{ employee.workPosition }}</span>
  </div>
  <div class="col col-5 text-align-right">
    <button (click)="onDelete()" class="button button--secondary button--medium">End Contract</button>
    <button (click)="onEdit()" class="button">Edit</button>    
  </div>
</div> 
