<div class="employees-header">
  <h1 class="title">Employees</h1>
</div>

<div class="row">
  <div [formGroup]="formGroup" class="col col-6 input-field">    
    <mat-form-field floatLabel="never">
      <mat-label>Search by name, surname or work position</mat-label>
      <input matInput formControlName="search">
    </mat-form-field>
  </div>
  <div class="col col-6 hire-container">
    <button (click)="onHire()" class="button button--medium">Hire Employee</button>
  </div>
</div>

<div class="employees-container">
  <app-employee-item *ngFor="let employee of (employees$ | async)" (delete)="onDelete(employee)" 
    (edit)="onEdit(employee.id)" [employee]="employee">
  </app-employee-item>  
</div>
