body {
  box-sizing: border-box;
  color: $font-color;
  font-family: Verdana, sans-serif;
  font-size: $font-size;
  text-align: center;
  margin: 0;
}

.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}